* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
  line-height: 1.6;
}

/* Navbar */
header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #020617;
  z-index: 1000;
}

.navbar {
  max-width: 1100px;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #38bdf8;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

.nav-links a {
  color: #e5e7eb;
  text-decoration: none;
}

.nav-links a:hover {
  color: #38bdf8;
}

/* Hero */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero span {
  color: #38bdf8;
}

.tagline {
  margin: 1rem 0;
}

.btn {
  padding: 0.8rem 1.5rem;
  background: #38bdf8;
  color: #020617;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

/* Sections */
.section {
  max-width: 1000px;
  margin: auto;
  padding: 5rem 1rem;
  text-align: center;
}

.section h2 {
  margin-bottom: 1.5rem;
  color: #38bdf8;
}

/* Skills */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.skill-card {
  background: #020617;
  padding: 1rem;
  border-radius: 8px;
}

/* Projects */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.project-card {
  background: #020617;
  padding: 1.5rem;
  border-radius: 10px;
}

.hero-container {
  max-width: 1100px;
  margin: auto;
  padding: 6rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.hero-image img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #38bdf8;
  box-shadow: 0 0 25px rgba(56, 189, 248, 0.4);
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
}



.project-btn {
  display: inline-block;
  margin-top: 1rem;
  color: #38bdf8;
  text-decoration: none;
}

/* Footer */
footer {
  background: #020617;
  text-align: center;
  padding: 1rem;
}

/* Animations */
.fade-in {
  animation: fade 1.5s ease-in;
}



.slide-up {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.slide-up.show {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }
}

.hero-image img {
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}